.albumPresentacion{
  font-size: 1.5em;
  font-family: 'Architects Daughter', cursive;
  padding-left: 1em;
  padding-right: 1em;
}
.album{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 10px;
  padding: 10px;
    img{
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
}

$fotomedida:(
  25: 25%,
  40: 40%,
  50: 50%,
  75: 75%,
  100: 100%,
);
@each $name-medida, $numero-medida in $fotomedida{
  .tamano--#{$name-medida}{
    width: $numero-medida;
  }
}

@for $i from 1 to 5{
  .em-#{$i} {width: 2em * $i;}
}
