body{
	font-family: $font;
	font-weight: $font-regular;
}
.type-regular{
	font-family: $font;
	font-weight: $font-regular;
}
.type-bold{
	font-family: $font;
	font-weight: $font-bold;
}
.type-extra-bold{
	font-family: $font;
	font-weight: $font-extra-bold;
}